<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter Turnout Dashboard!</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-2"> 
        <div class="well">
            <h1>Welcome to our Voter Turnout Dashboard!</h1>         
           <!-- <select id="selDataset"></select> -->   
            <!--<select id="selDataset" onchange="optionChanged(this.value)"></select> -->
        </div>
        <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Here you can find:</h3>
                State voting trends, <br>
                 Top reasons voters do not vote, <br>
                 Candidate or party competitiveness, <br>
                 Top five factors contributing to total voter turnout in the United Sates.<br><br><br>

            </div>

            <a href="https://voterturnoutdashboard.herokuapp.com/GeneralTurnout"> General Turnout </a>
            <br>
            <a href="https://voterturnoutdashboard.herokuapp.com/Nonvoters"> Nonvoters </a>
            <br>
            <a href="https://voterturnoutdashboard.herokuapp.com/Competitiveness"> Competitiveness </a>
            <br>
            <a href="https://voterturnoutdashboard.herokuapp.com/PredictTurnout"> Predict Turnout </a>    
            <br>

            <!-- 
            <a href="http://127.0.0.1:5000/GeneralTurnout"> General Turnout </a>
            <br>
            <a href="http://127.0.0.1:5000/Nonvoters"> Nonvoters </a>
            <br>
            <a href="http://127.0.0.1:5000/Competitiveness"> Competitiveness </a>
            <br>
            <a href="http://127.0.0.1:5000/PredictTurnout"> Predict Turnout </a>    
            <br> -->
            <div id="year-metadata" class="panel-body"></div>
        </div>
        </div>
        <div class="col-md-5">
            <div id="bar-plot"></div>
</body> 